.container {
  width: 800px;
  margin: 0 auto;
  /* TODO */
}

.card-category{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 5 15px rgba(0,0,0,0.1);
  height: 250px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  background-position: center;
}


.card-product {
  display: flex;
  background: white;
  align-items: center;
}

.card-product img {
  height: 150px;
  margin-right: 16px;
}

.card-product h2 {
  margin: 0;
}

.card-product p {
  margin: 0;
}

.card-trip {
background: white;
}
.card-trip-footer{
  padding: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-position: center;
}

.card-trip img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  margin: 0;
}

.card-trip p {
  margin: 0;
}

.card-trip {
background: white;
}
.banner {
color: white;
background-size: cover;
padding: 150px 0px;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  font-size: 24px;
  font-weight: lighter;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card img {
    height: 100px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
    background-color: white;
}

.btn-airbnb {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}

.btn-airbnb {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
